table {
display:flex;
background-color:#ACB78E;
border: 2px solid #000000;
max-width: 500px;
max-height: 550px;
order:2;
}
.header {
background-color:#C9DC87;
height: 100px;
padding-top:20px;
}

.nav {
display: flex;
flex-direction: column;
background-color:#87A96B;
max-width: 900px;
margin: 0 auto;
}
.logo {
max-width:150px;
float:left;
margin:auto;
}
.menu {
max-width:960px;
text-align: center;
margin:0 auto;
display: flex;
flex-direction: column;
background-color:#87A96B;
padding-top:20px;
}
.footer {
background-color:#657F4B;
height: 70px;
font-size: 40px;
}
.bg_color_green{
    background-color:#4F7942
}
